.profile {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
}

.avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.description {
  border-radius: 5px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}

.tag {
  color: #82909e;
  font-size: 14px;
  margin: 14px 0px;
}

.location {
  color: #82909e;
  font-size: 14px;
  margin: 14px 0px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #e7ecf2;
  padding: 0;
}

span {
  display: block;
}

.border {
  border: 1px solid #82909e;
  width: 80px;
  height: 60px;
}

.label {
  margin-top: 10px;
  color: #82909e;
  font-size: 12px;
}

.quantity {
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
}
