.transactionHistory {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  background-color: #00bcd5;
  color: white;
}

.headTh {
  padding: 10px 0 10px 0;
}

.tBody {
  color: #868b8f;
}
